script(type='text/template', id='shortie-main')
  tr(data-bind="template : {name : 'shortie-edit', data: $data}, visible:isCurrent")
  tr(data-bind="template : {name : 'shortie-normal', data: $data}, visible:!isCurrent()")


script(type='text/template', id='shortie-edit')
  td
    input(type='text', placeholder='rly shrt', data-bind="value:slug")
  td
    input(type='text', placeholder='really looong', data-bind='value: fullUrl')
  td
    .btn-group.pull-right
      button.btn.btn-default.btn-xs(data-bind='click: $parents[1].save')
        span.glyphicon.glyphicon-plus
        span.small save

script(type='text/template', id='shortie-normal')
  td(data-bind='text:slug')
  td(data-bind='text:fullUrl')
  td
    .btn-group.pull-right
      button.btn.btn-default.btn-xs(data-bind='click: $parents[1].select')
        span.glyphicon.glyphicon-plus
        span.small edit