script(type='text/template', id='shortie-main')
  tr(data-bind="click: $root.select.bind($root), css: { selected: isCurrent(), notSelected: !isCurrent() }")
    td
      input.form-control(type='text', placeholder='rly shrt', data-bind="value: slug, event: { focus: $parent.select.bind($parent) }")
    td
      input.form-control(type='text', placeholder='really long', data-bind="value: url, event: { focus: $parent.select.bind($parent) }")
    td
      .btn-group.pull-right
        button.btn.btn-default.btn-xs(data-bind='click: $parent.save.bind($parent)')
          span.glyphicon.glyphicon-save
          span.small save
        button.btn.btn-danger.btn-xs(data-bind='click: $parent.remove.bind($parent)')
          span.glyphicon.glyphicon-remove
          span.small &nbsp;delete

div(id='organizer')
  h3 Shorties

  .alert.alert-warning(data-bind='visible: spamWarning')
    b Spam warning! 
    span Enter value for empty shortie before adding a new one.

  table.table.table-striped
    thead
      tr
        th.slug
          div Slug
        th.url
          div Full Url
        th.buttons 
          .btn-group.pull-right
            button.btn.btn-default.btn-xs(data-bind='click: addNew')
              span.glyphicon.glyphicon-plus
              span.small add shortie
    tbody(data-bind="template : {name : 'shortie-main', foreach: shorties}")