extends layouts/public

block content
  .page-header.not-found-header
  .container
    .centered
      h2 You've done something wrong.....
      h1 <small>Try one of following links to get outta here</small>

      ul.list-unstyled.list-inline
        li
          a(href="https://valtech.se" class="btn btn-success") valtech.se
        li
          a(href="mailto:info@valtech.se" class="btn btn-success") info@valtech.se
