extends layouts/layout

block styles
  //-link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800", type="text/css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/css/admin.css")


block content
  .container
    .page-header
      h1 valte.ch <small> admin</small>
      .pull-right(style='margin-top: -30px')
        a(href='/logout') logout
    .alert.alert-warning
      span a work in progress. 
      a(href="/cats") /cats
      span  is funny.

    include includes/organizer

block scripts
  script(src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script(src="js/bundle.js")

