extends layouts/layout

block content
  h1 valte.ch <small> the valtech url shortener</small>
  p a work in progress. <a href="/cats">/cats</a> is funny.
  p by <a href="http://valtech.se">valtech</a>.

  ul(data-bind='foreach:shorties', id=shorties)
    li
      span(data-bind="text:slug, style : {color : isCurrent() ? 'red' : undefined}")
      <a data-bind="attr : {href : fullUrl}"> link </a>.
      input(type='button', value='edit', data-bind='click: $parent.select')

block scripts
  script(src="bundle.js")