extends layouts/public

block content
  .page-header.startpageheader
  .container.centered-for-small

    .col-md-6.row
      h1.heading-large valte.ch
      h3.subheading The Valtech URL shortener

      .form-group
        <a class="btn btn-success btn-square" href="/admin">&rsaquo; admin login</a>
      p
        | Valte.ch, eller Valtech Shortie som vi kallar den, är en Node.JS applikation (<a href="http://nodejs.org/">http://nodejs.org/</a>) Med det minimalistiska Express web framework (<a href="http://expressjs.com">http://expressjs.com</a>). 'Shorties sparas i en Mongo-databas (<a href="http://mongodb.org">http://mongodb.org</a>) på MongoHQ (<a href="https://app.mongohq.com">https://app.mongohq.com</a>). Med en dokumentdatabas så har vi sluppit strulet med uppdaterade databas-scheman, vilket har varit extra skönt innan domänobjektens struktur sattes. Länkarna administreras på administrations-gränssnittet (<a href="/admin">http://valtech.ch/admin</a>) som är skrivet med jade templateing och backas upp av knockout.js (<a href="http://www.knockoutjs.com">http://www.knockoutjs.com</a>) och underscore.js (<a href="http://underscorejs.org">http://underscorejs.org</a>). För attt komma åt admin-gränssnittet krävs authentisering från Valtechs 0Auth 2 applikation så alla är inte välkomna dit, tyvärr :(
      strong <a href="https://github.com/valtech/valtech_shortie">Läs mer...</a>

    .col-md-5.row.col-md-offset-1.push-down
      div
        img(src="img/startpage-blob.png")
      ul.list-unstyled
        li
          a(href='http://www.valtech.se') www.valtech.se
        li
          a(href='http://www.valtech.se/sv/jobb/lediga-jobb' class='no-color') www.valtech.se/sv/jobb/lediga-jobb
        li 
          a(href='http://www.valtechportfolio.se' class='no-color') www.valtechportfolio.se
        li
          a(href='http://www.valtech.se/sv/jobb/lediga-jobb/talang-valtech' class='no-color') www.valtech.se/sv/jobb/lediga-jobb/talang-valtech
      ul-list-unstyled.list-inline
        li
          a(href='https://www.linkedin.com/company/valtech' class="logo logo-linkedin") Linkedin
        li
          a(href='https://twitter.com/ValtechSweden' class="logo logo-twitter") Twitter
        li
          a(href='https://www.facebook.com/valtech.se' class="logo logo-facebook") Facebook
        li
          a(href='http://instagram.com/valtechsweden/' class="logo logo-instagram") Instagram
        li
          a(href='http://vimeo.com/valtechsweden' class="logo logo-vimeo") Vimeo
        
    .col-md-12.row
      hr
      .footer
        strong Valtech AB,
        |  Kungliga Myntet, Hanterkargatan 5, 11221 Stockholm, Box 12108 10223 Stockholm
        br
        strong Tel:
        |  08-56223300,
        strong Fax: 08-56-223310,
        a(href="mailto:info@valtech.se")  info@valtech.se