extends layouts/layout

block content
  h1 valte.ch <small> the valtech url shortener</small>
  p a work in progress. <a href="/cats">/cats</a> is funny.
  p by <a href="http://valtech.se">valtech</a>.

