extends layouts/layout

block content
  h1 valte.ch <small> the valtech url shortener</small>
  p a work in progress. <a href="/cats">/cats</a> is funny.
  p by <a href="http://valtech.se">valtech</a>.

  div(id='organizer')
    h3 Shorties
    input(type='button', data-bind='click:addNew', value='add')
    span(data-bind='visible: spamWarning') <b>Spam warning!</b> enter value for empty shorty before adding a new one.
    
    br
    
    table
      thead
        tr
          th Slug
          th Full Url
          th 
      tbody(data-bind="template : {name : 'shortie-main', foreach: shorties}")
   
  include includes/ko

block scripts
  script(src="bundle.js")

