extends layouts/public

block content
  .page-header.startpageheader
  .container.centered-for-small

    .col-md-6.row
      h1.heading-large valte.ch
      h3.subheading The Valtech URL shortener

      .form-group
        <a class="btn btn-success btn-square" href="/admin">&rsaquo; admin login</a>
      p
        | valte.ch, or Valtech Shortie as we call it, is a <a href="http://nodejs.org/">Node.JS</a> application
        | using the minimalistic <a href="http://expressjs.com">Express</a> web framework,
        | running on <a href="http://azure.microsoft.com/">Azure</a>.
        | Shorties are saved in a <a href="http://mongodb.org">MongoDB</a> database hosted over at
        | <a href="https://www.mongohq.com/">MongoHQ</a>. With a document database we lose
        | the hassle of updating database schemas, which was extra nice before the structure
        | of the domain objects had fallen into place. The links are administered through the admin
        | interface at <a href="/admin">/admin</a>, which is written in <a href="http://jade-lang.com/">Jade</a>
        | and backed up by <a href="http://www.knockoutjs.com">Knockout</a> and <a href="http://underscorejs.org">Underscore</a>.
        | To access the admin interface you have to authenticate using Valtech's OAuth 2 service, so
        | not everyone is welcome there, unfortunately :(
      //- strong <a href="https://github.com/valtech/valtech-shortie">Read more...</a>

    .col-md-5.row.col-md-offset-1.push-down
      div
        img(src="img/startpage-blob.png")
      ul.list-unstyled
        li
          a(href='https://valtech.se') valtech.se
        li
          a(href='https://valtech.se/jobb' class='no-color') valtech.se/jobb
        li
          a(href='http://www.valtechportfolio.se' class='no-color') www.valtechportfolio.se
        li
          a(href='http://talang.valtech.se' class='no-color') talang.valtech.se
      ul-list-unstyled.list-inline
        li
          a(href='https://www.linkedin.com/company/valtech' class="logo logo-linkedin") Linkedin
        li
          a(href='https://twitter.com/ValtechSweden' class="logo logo-twitter") Twitter
        li
          a(href='https://www.facebook.com/valtech.se' class="logo logo-facebook") Facebook
        li
          a(href='http://instagram.com/valtechsweden/' class="logo logo-instagram") Instagram
        li
          a(href='http://vimeo.com/valtechsweden' class="logo logo-vimeo") Vimeo

    .col-md-12.row
      hr
      .footer
        strong Valtech AB,
        |  Kungliga Myntet, Hanterkargatan 5, 11221 Stockholm, Box 12108 10223 Stockholm
        br
        strong Tel:
        |  08-56223300,&nbsp;
        strong Fax:&nbsp;
        | 08-56-223310,&nbsp;
        a(href="mailto:info@valtech.se") info@valtech.se
