extends ../layouts/admin
block vars
  - var activeView='home'
block content
  .container-fluid#admin-main
    .row.input-row
      .col-md-6.col-md-offset-3
        form(data-bind='submit: generateShortie')
          .input-group.input-group-lg
            input.form-control(type='text', data-bind='value: urlToShorten')
            span.input-group-btn
              input.btn.btn-primary#generateShortieButton(type='submit', value='Generate!')
    .row.generated-shortie-row(data-bind='visible: showInfoPanel()', style='display: none')
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-body
            .container-fluid.form.text-center
              .col-md-8.col-md-offset-2
                form(role='form')
                  h2 Here's your shortie!
                  div.form-group(data-bind='visible: !isEditingSlug()')
                    .input-group
                      input.form-control#fullUrl(type='text', data-bind='value: fullUrl', readonly)
                      span.input-group-btn
                        button.btn.btn-default(data-bind='click: editSlug')
                          | edit
                  div.form-group(data-bind='visible: isEditingSlug')
                    .input-group
                      input.form-control(type='text', data-bind='value: slug, visible: isEditingSlug()')
                      span.input-group-btn
                        button.btn.btn-primary(data-bind='click: saveSlug')
                          | save
                        button.btn.btn-default(data-bind='click: cancelEditSlug')
                          | cancel
    .row.error-message-row(data-bind='visible: errorMessage', style='display: none')
      .col-md-6.col-md-offset-3
        .alert.alert-danger
          b Error: 
          span(data-bind='text: errorMessage')
block scripts
  script(src="/js/admin-main.js")

