extends ../layouts/admin
block vars
  - var activeView='home'
block content
  .container-fluid.admin-main
    .row.input-row
      .col-md-6.col-md-offset-3
        .input-group.input-group-lg
          span.input-group-addon http://
          input.form-control(type='text')
          span.input-group-btn
            button.btn.btn-primary Generate!
    .row.generated-shortie-row
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-body
            .form.form-inline
              p Here's your shortie!
              p
                div Input: 
                a(href='http://www.valtech.se/') http://www.valtech.se/
              p
                div Output:
                | valte.ch/
                input.form-control.input-sm(type='text', value='foobar')
                a.btn.btn-default.btn-xs
                  span.glyphicon.glyphicon-edit
                  span edit
              
