extends ../layouts/admin
block vars
  - var activeView='home'
block content
  .container-fluid#admin-main
    .row.input-row
      .col-md-6.col-md-offset-3
        .input-group.input-group-lg
          input.form-control(type='text', data-bind='value: urlToShorten')
          span.input-group-btn
            button.btn.btn-primary(data-bind='click: generateShortie') Generate!
    .row.generated-shortie-row(data-bind='visible: showInfoPanel')
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-body
            .form.form-inline
              p Here's your shortie!
              p
                div 
                | valte.ch/ 
                input.form-control.input-sm(type='text', data-bind='value: slug')
                a.btn.btn-default.btn-xs
                  span.glyphicon.glyphicon-edit
                  span edit
              
block scripts
  script(src="/js/admin-main.js")

