extends ../layouts/admin
block vars
  - var activeView='list'
block content
  .container-fluid#admin-list
    table.table
      thead
        tr
          th.slug
            div Slug
          th.url
            div Full Url
          th
            div Type
          th
      tbody(data-bind="foreach: shorties")
       tr(data-bind="css: { selected: isCurrent(), notSelected: !isCurrent() }")
          td
            label(data-bind="attr: { for: 'shortie_slug_'+$index() }") Slug
            input.form-control(type='text', placeholder='rly shrt', data-bind="attr: { id: 'shortie_slug_'+$index() }, value: slug, event: { focus: $parent.select.bind($parent), blur: $parent.deselect.bind($parent) }")
          td
            label(data-bind="attr: { for: 'shortie_url_'+$index() }") URL
            input.form-control(type='text', placeholder='really long', data-bind="attr: { id: 'shortie_url_'+$index() }, value: url, event: { focus: $parent.select.bind($parent), blur: $parent.deselect.bind($parent) }")
          td
            label Type
            div.form-control(data-bind='text: type')
          td
            .btn-group
              button.btn.btn-primary.btn-xs(data-bind='click: $parent.save.bind($parent)')
                span.glyphicon.glyphicon-save
                span.small save
              button.btn.btn-danger.btn-xs(data-toggle='modal', data-target='#deleteModal', data-bind='click: $parent.markShortieForDeletion.bind($parent)')
                span.glyphicon.glyphicon-remove
                span.small &nbsp;delete
              a.btn.btn-default.btn-xs(data-bind='attr: { href: slug }')
                span.glyphicon.glyphicon-globe
                span.small goto

    #deleteModal.modal(data-backdrop='false')
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title Really delete shortie?
          .modal-body
            | This cannot be undone.
          .modal-footer
            button.btn.btn-danger.btn-xl(data-dismiss='modal', data-bind='click: remove')
              span.glyphicon.glyphicon-remove
              &nbsp;delete forever
            button.btn.btn-default.btn-xl(data-dismiss='modal')
              span.glyphicon.glyphicon-remove
              &nbsp;cancel
    
    #errorModal.modal(data-backdrop='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal')
              &times
            h4.modal-title An error has occurred!
          .modal-body
            span(data-bind='text: errorMessage')
block scripts
  script(src="/js/admin-list.js")