#admin-main > .generated-shortie-row,
#admin-main > .error-message-row { 
	margin-top: 6px;
}

#admin-main > .generated-shortie-row .panel {
	margin-bottom: 0;
}

#fullUrl {
	cursor: copy;
}

@media (max-width: 767px) {
	/* Split horizontal input/button groups into rows */
	.input-group {
		display: block;
	}
	.input-group > .input-group-addon {
		display: none;
	}
	.input-group > .form-control:first-child {
		border-radius: 6px !important;
		display: block;
		float: none;
	}
	.input-group > .input-group-btn,
	.btn-group {
		display: block;
		width: 100%;
	}
	.input-group > .input-group-btn > .btn,
	.btn-group > .btn {
		float: none;
		display: block;
		width: 100%;
		border-radius: 6px !important;
		margin-top: 6px;
	}
}

.btn {
	border-radius: 0;
}