#admin-main > .generated-shortie-row { 
	margin-top: 6px;
}

#fullUrl {
	cursor: copy;
}

@media (max-width: 767px) {
	.input-group {
		display: block;
	}
	.input-group > .input-group-addon {
		display: none;
	}
	.input-group > .form-control:first-child {
		border-radius: 6px !important;
		display: block;
		float: none;
	}
	.input-group > .input-group-btn {
		display: block;
		width: 100%;
	}
	.input-group > .input-group-btn > .btn {
		display: block;
		width: 100%;
		border-radius: 6px !important;
		margin-top: 6px;
	}
}

