a {
	color: #00CAFF;
}

a.no-color {
	color: #666666;
}

p {
	line-height: 25px;
}

.logo {
	text-indent: -9999px;
	display: inline-block;
	width: 44px;
	height: 44px;
}

.logo-linkedin {
	background: url("../img/socialmedia-sprite.png") 0px no-repeat;
}

.logo-twitter {
	background: url("../img/socialmedia-sprite.png") -50px no-repeat;
}

.logo-facebook {
	background: url("../img/socialmedia-sprite.png") -102px no-repeat;
}

.logo-instagram {
	background: url("../img/socialmedia-sprite.png") -155px no-repeat;
}

.logo-vimeo {
	background: url("../img/socialmedia-sprite.png") -210px no-repeat;
}

.centered {
	text-align: center;
}

.page-header {
  border-bottom: none;
}

.footer {
	margin-bottom: 20px;
}

.btn {
	border-radius: 0;
}

.heading-large {
	font-size: 100px;
	font-family: "georgia";
}

.heading-gigantic {
	font-size: 200px;
	font-weight: bold;
}

.subheading {
	font-size: 33px;
	font-family: "arial";
	letter-spacing: -1px;
}

.push-down {
	margin-top: 100px;
}

.startpageheader {
	padding: 0;
	margin: 0;
	height: 170px;
	background-size: 100% 170px;
	background-repeat: no-repeat;
	background-image: url("../img/startpagebackground.png")
}

.not-found-header {
	padding: 0;
	margin: 0;
	height: 600px;
	background-size: 100% 600px;
	background-repeat: no-repeat;
	background-image: url("../img/404-header-background.png")
}


@media (max-width: 991px) {
	.not-found-header {
		background-image: url("../img/404-header-background-medium.png")
	}
	.centered-for-small {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.startpageheader{
		background-size: 100% 170px;
		background-image: url("../img/startpagebackground-small.png")
	}
	.push-down {
		margin-top: 40px;
	}
}

@media (max-width: 500px) {
	.not-found-header {
		background-image: url("../img/404-header-background-small.png")
	}
	.heading-large {
		font-size: 85px;
	}
} 