doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    //-link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:400,600,800", type="text/css")
    link(rel="stylesheet", href="/css/admin.css", type="text/css")
  body
    block content
    block scripts
