doctype html
html
  head
    title= title
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }

      a {
        color: #00B7FF;
      }
      small {
        font-size: 55%;
      }
  body
    block content
    block scripts
